opencv-python
googletrans
selenium
language-tool-python
spacy
tensorflow
pyautogui
pygame
wordcloud
yfinance
pytesseract
moviepy
pyspark
psycopg2
textblob
django
rdkit
boto3
serial
docker
python-pptx==0.6.21
RPi.GPIO
qrcode
python-docx
openai
numpy-financial
machine
inflect
keras
streamlit
setuptools
graphviz
gensim
google
PyPDF2
librosa
pydub
soundfile
mutagen
wave