googletrans
selenium
language-tool-python
spacy
pygame
wordcloud
yfinance
pytesseract
moviepy
pyspark
psycopg2
textblob
django
rdkit
boto3
serial
docker
qrcode
openai
numpy-financial
inflect
keras
streamlit
setuptools
graphviz
gensim
google
pypdf
librosa
pydub
soundfile
mutagen
wave
wordcloud
yfinance
pyspark
docx
pypdf
discord
board
pymongo
Crypto
paramiko
clr
keyboard
word2number
pyttsx3
telebot
pyperclip
chess
netCDF4
music21
speech_recognition
mendeleev
mcpi
matlab
jieba
telegram
PySide2
faker
geopandas
num2words
polars
xlsxwriter
flet
fpdf
Bio
CoolProp
fastapi
gspread
pandas_datareader
xgboost
matplotlib_venn
enchant
yt_dlp
shapely
diagrams
gtts