opencv-python
googletrans
selenium
language-tool-python
spacy
tensorflow
pyautogui
pygame
wordcloud
yfinance
pytesseract
moviepy
pyspark
psycopg2
textblob
django
rdkit
boto3
serial
docker
python-pptx==0.6.21
RPi.GPIO
qrcode
python-docx
openai
numpy-financial
machine
inflect
keras
streamlit
setuptools
graphviz
gensim
google
PyPDF2
pypdf
librosa
pydub
soundfile
mutagen
wave
wordcloud
yfinance
pyspark
docx
PyPDF2
discord
board
pymongo
Crypto
paramiko
clr
keyboard
word2number
pyttsx3
telebot
pyperclip
chess
netCDF4
music21
SpeechRecognition
mendeleev
mcpi
matlab
jieba
telegram
PySide2
faker
geopandas
num2words
polars
xlsxwriter
wmi
flet
fpdf
Bio
CoolProp
fastapi
gspread
pandas_datareader
xgboost
matplotlib_venn
enchant
yt_dlp
shapely
diagrams
gtts